body{
    font-family: sans-serif;
    align-content: center;
    max-height: 1122px;
    overflow: scroll;
    width: 100%;
    margin: 0px;
}

#mainDiv{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

#headerRowDiv{
    background-color: white;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: 100%;
}

#homePageBackgroundDiv{
    width: 70%;
    margin: auto;
    display: flex;
    flex-flow: row nowrap;
}

#linksDiv{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-right: 20px;
}

#registerLink{
    text-decoration: none;
}

#loginLink{
    text-decoration: none;
}

#homeLink{
    text-decoration: none;
}

#transferLink{
    text-decoration: none;
}

#profileLink{
    text-decoration: none;
}

#contactLink{
    text-decoration: none;
}

#logoutLink{
    text-decoration: none;
}

#addConnectionLink{
    text-decoration: none;
}

#addIbanLink{
    text-decoration: none;
}

#topUpLink{
    text-decoration: none;
}

#withdrawalLink{
    text-decoration: none;
}

#icon{
    border-radius: 10px;
    margin: 3px;
}

.linksDivs{
    margin-right: 30px;
}

#imageDiv{
    margin: auto;
}

#image{
    border-radius: 50px;
}

#formRowDiv{
    width: 40%;
}

fieldset{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 100px;
}

#secondRowDiv{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    align-items: start;
    margin-left: 20px;
}

.secondRowItems{
    margin-left: 20px;
}