<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
    <title>Add Connection</title>
</head>
<body>
<div id="mainDiv">
    <div class="mainDivRows" id="headerRowDiv">
        <div class="headerRowDivs" id="iconDiv">
            <img id="icon" src="../static/img/PayMyBuddyIcon.jpg" th:src="@{/img/PayMyBuddyIcon.jpg}" title="Pay My Buddy Icon" alt="Pay My Buddy Icon">
        </div>
        <div class="headerRowDivs" id="linksDiv">
            <div>
                <a href="/home" class="linksDivs" id="homeLink">Home</a>
            </div>
            <div>
                <a href="/transfer" class="linksDivs" id="transferLink">Transfer</a>
            </div>
            <div>
                <a href="/profile" class="linksDivs" id="profileLink">Profile</a>
            </div>
            <div>
                <a href="/contact" class="linksDivs" id="contactLink">Contact</a>
            </div>
            <div>
                <a href="/logout" class="linksDivs" id="logoutLink">Logout</a>
            </div>
        </div>
    </div>
    <div class="mainDivRows" id="secondRowDiv">
        <div class="secondRowItems">
            <h5>Home</h5>
        </div>
        <div class="secondRowItems">
            <h5>/</h5>
        </div>
        <div class="secondRowItems">
            <h5>Add your Buddy</h5>
        </div>
    </div>
    <div class="mainDivRows" id="mainRowDiv">
        <div>
            <div>
                <h3>Add an IBAN</h3>
            </div>
        </div>
        <div>
            <form name="form" th:action="@{/addIban}" th:object="${iban}" method="post">
                <div>
                    <h4>Introduce an Iban. We'll Add it To Your Iban List If it doesn't already Exist</h4></div>
                <div>
                    <input type="text" id="username" name="email" th:field="*{ibanString}"
                           placeholder="Your Iban here..."/>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>