<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
    <title>Add Iban</title>
</head>
<body>
<div id="mainDiv">
    <div class="mainDivRows" id="headerRowDiv">
        <div class="headerRowDivs" id="iconDiv">
            <a href="/">
                <img id="icon" src="../static/img/PayMyBuddyIcon.jpg" th:src="@{/img/PayMyBuddyIcon.jpg}"
                     title="Pay My Buddy Icon" alt="Pay My Buddy Icon">
            </a>
        </div>
        <div class="headerRowDivs" id="linksDiv">
            <div>
                <a href="/" class="linksDivs" id="homeLink">Home</a>
            </div>
            <div>
                <a href="/user/transfer" class="linksDivs" id="transferLink">Transfer</a>
            </div>
            <div>
                <a href="/user/profile" class="linksDivs" id="profileLink">Profile</a>
            </div>
            <div>
                <a href="/user/contact" class="linksDivs" id="contactLink">Contact</a>
            </div>
            <div>
                <a href="/logout" class="linksDivs" id="logoutLink">Logout</a>
            </div>
        </div>
    </div>
    <div class="mainDivRows" id="secondRowDiv">
        <div class="secondRowItems">
            <h5>Home</h5>
        </div>
        <div class="secondRowItems">
            <h5>/</h5>
        </div>
        <div class="secondRowItems">
            <h5>Add an IBAN</h5>
        </div>
    </div>
    <div class="mainDivRows" id="mainRowDiv">
        <div>
            <div>
                <h3>Add an IBAN</h3>
            </div>
        </div>
        <div>
            <form name="form" th:action="@{/user/addIban}" method="post">
                <div>
                    <h4>Introduce an Iban. We'll Add it To Your Iban List If it doesn't already Exist</h4>
                </div>
                <div>
                    <input 🤔🤔class="formElement" type="text" id="ibanString" th:name="ibanString" name="ibanString"
                           placeholder="Your IBAN here..."/>
                </div>
                <br>
                <div class="form-actions">
                    <button 🤔🤔class="formElement" type="submit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>