<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
    <title>Add Money</title>
</head>
<body>
<div id="mainDiv">
    <div class="mainDivRows" id="headerRowDiv">
        <div class="headerRowDivs" id="iconDiv">
            <img id="icon" src="../static/img/PayMyBuddyIcon.jpg" th:src="@{/img/PayMyBuddyIcon.jpg}" title="Pay My Buddy Icon" alt="Pay My Buddy Icon">
        </div>
        <div class="headerRowDivs" id="linksDiv">
            <div><h4 class="linksDivs" id="homeLink">Home</h4></div>
            <div><h4 class="linksDivs" id="transferLink">Transfer</h4></div>
            <div><h4 class="linksDivs" id="profileLink">Profile</h4></div>
            <div><h4 class="linksDivs" id="contactLink">Contact</h4></div>
            <div><h4 class="linksDivs" id="logoffLink">Log off</h4></div>
        </div>
    </div>
    <div class="mainDivRows" id="secondRowDiv">
        <div class="secondRowItems"><h5>Home</h5></div>
        <div class="secondRowItems"><h5>/</h5></div>
        <div class="secondRowItems"><h5>Profile</h5></div>
    </div>
    <div class="mainDivRows" id="mainRowDiv">
        <div>
            <div><h3>Add Money</h3></div>
        </div>
        <div>
            <div><h4>MONEY GOES HERE</h4></div>
            <div><h4>ORIGIN GOES HERE</h4></div>
            <div><h4>BUTTON GOES HERE</h4></div>
        </div>

    </div>
</div>
</body>
</html>