<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../static/css/contact.css">
    <title>Contact</title>
</head>
<body>
<div id="mainDiv">
    <div class="mainRowsDivs" id="mainRow1">
        <div class="firstRowHalves" id="firstRowHalf1">
            <h4 class="firstRowItems" id="firstRowItem1" id="companysName">Pay My Buddy</h4>
        </div>
        <div class="firstRowHalves" id="firstRowHalf2">
            <div><h4 class="firstRowItems" id="firstRowItem2">Home</h4></div>
            <div><h4 class="firstRowItems" id="firstRowItem3">Transfer</h4></div>
            <div><h4 class="firstRowItems" id="firstRowItem4">Profile</h4></div>
            <div><h4 class="firstRowItems" id="firstRowItem5">Contact</h4></div>
            <div><h4 class="firstRowItems" id="firstRowItem6">Log off</h4></div>
        </div>
    </div>
    <div class="mainRowsDivs" id="mainRow2">
        <div><h5>Home</h5></div>
        <div><h5>/</h5></div>
        <div><h5>Contact</h5></div>
    </div>
    <div class="mainRowsDivs" id="mainRow3">
        <div>
            <div><h4>Don't Hesitate Getting in Touch if in Need, We'll be Happy to Help You!</h4></div>
            <div><h4>These are our Contact Details:</h4></div>
        </div>
        <div>
            <div><h4>Address</h4></div>
            <div><h4>32 Park Street, W2 1HJ, London, United Kingdom</h4></div>
        </div>
        <div>
            <div><h4>Phone Number</h4></div>
            <div><h4>+44 (0) 50 80 50 80 50</h4></div>
        </div>
        <div>
            <div><h4>E-mail</h4></div>
            <div><h4>queti@queti.co.uk</h4></div>
        </div>
    </div>
</div>
</body>
</html>