<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css} "href="../static/css/style.css">
    <title >Home</title>
</head>
<body>
<div id="mainDiv">
    <div class="mainDivRows" id="headerRowDiv">
        <div class="headerRowDivs" id="iconDiv">
            <img id="icon" src="../static/img/PayMyBuddyIcon.jpg" th:src="@{/img/PayMyBuddyIcon.jpg}" title="Pay My Buddy Icon" alt="Pay My Buddy Icon">
        </div>
        <div class="headerRowDivs" id="linksDiv">
            <div><a href="/register" class="linksDivs" id="registerLink">REGISTER</a></div>
            <div><a href="/login" class="linksDivs" id="loginLink">Login</a></div>
        </div>
    </div>
    <div class="mainDivRows" id="homePageBackgroundDiv">
        <div id="imageDiv" >
            <img id="image" src="../static/img/project6Background.jpg" th:src="@{/img/project6Background.jpg}" title="Pay My Buddy Home Page Background" alt="Home Page Background">
        </div>
    </div>
</div>
</body>
</html>