<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../static/css/home.css">
    <title th:text="#{home.title}">Home</title>
</head>
<body>
<div id="mainDiv">
    <div class="mainRowsDivs" id="mainRow1">
        <div class="firstRowHalves" id="firstRowHalf1">
            <h4 class="firstRowItems" id="firstRowItem1">Pay My Buddy</h4>
        </div>
        <div class="firstRowHalves" id="firstRowHalf2">
            <div><a href="/register" class="firstRowItems" id="firstRowItem2">REGISTER</a></div>
            <div><a href="/login" class="firstRowItems" id="firstRowItem3">Login</a></div>
            <!--<div><h4 class="firstRowItems" id="firstRowItem2">Home</h4></div>
            <div><h4 class="firstRowItems" id="firstRowItem3">Transfer</h4></div>
            <div><h4 class="firstRowItems" id="firstRowItem4">Profile</h4></div>
            <div><h4 class="firstRowItems" id="firstRowItem5">Contact</h4></div>
            <div><h4 class="firstRowItems" id="firstRowItem6">Log off</h4></div>-->
        </div>
    </div>
    <!--<div class="mainRowsDivs" id="mainRow2">
        <div><h5>Home</h5></div>
        <div><h5>/</h5></div>
        <div><h5>Transfer</h5></div>
    </div>-->
    <div class="mainRowsDivs" id="mainRow3">
        <div id="image" >
            <img src="../static/project6Background.jpg" title="Pay My Buddy Home Page Background" alt="Home Page Background">
        </div>
    </div>
</div>
</body>
</html>