<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
    <title>Login Page</title>
</head>
<body>
<div id="mainDiv">
    <div class="mainDivRows" id="formRowDiv">
        <form name="form" th:action="@{/doLogin}" method="post">
            <fieldset>
                <div class="headerRowDivs" id="iconDiv">
                    <a href="/">
                        <img id="icon" src="../static/img/PayMyBuddyIcon.jpg" th:src="@{/img/PayMyBuddyIcon.jpg}"
                             title="Pay My Buddy Icon" alt="Pay My Buddy Icon">
                    </a>
                </div>
                <div th:if="${param.error}">
                    <div class="alert alert-danger">
                        Invalid username or password.
                    </div>
                </div>
                <div th:if="${param.logout}">
                    <div class="alert alert-info">
                        You have been logged out.
                    </div>
                </div>
                <div>
                    <input class="formElement" type="text" id="username" name="email" placeholder="Email"/>
                </div>
                <div>
                    <input class="formElement" type="password" id="password" name="password" placeholder="Password"/>
                </div>
                <div class="form-actions">
                    <button class="formElement" type="submit">Login</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div>
        <p>Don't have an Account yet? Register <a href="/register">here...</a></p>
    </div>
    <div>
        <p>Or go <a href="/">back to the main page</a></p>
    </div>
</div>
</body>
</html>