<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
    <title>Login Page</title>
</head>
<body>
<div id="mainDiv">
    <div class="mainDivRows" id="formRowDiv">
        <form name="form" th:action="@{/loginPost}" method="post">
            <fieldset>
                <div class="headerRowDivs" id="iconDiv">
                    <img id="icon" src="../static/img/PayMyBuddyIcon.jpg" th:src="@{/img/PayMyBuddyIcon.jpg}"
                         title="Pay My Buddy Icon" alt="Pay My Buddy Icon">
                </div>
                <div th:if="${param.error}" class="alert alert-error">Invalid Username or Password</div>
                <div th:if="${param.logout}" class="alert alert-success">You have been logged out</div>
                <div>
                    <input type="text" id="username" name="email" placeholder="Email"/>
                </div>
                <div>
                    <input type="password" id="password" name="password" placeholder="Password"/>
                </div>
                <div class="form-actions">
                    <button type="submit" class="btn">Login</button>
                </div>
            </fieldset>
        </form>
    </div>
</div>
</body>
</html>