<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
    <title>Profile</title>
</head>
<body>
<div id="mainDiv">
    <div class="mainDivRows" id="headerRowDiv">
        <div class="headerRowDivs" id="iconDiv">
            <img id="icon" src="../static/img/PayMyBuddyIcon.jpg" th:src="@{/img/PayMyBuddyIcon.jpg}"
                 title="Pay My Buddy Icon" alt="Pay My Buddy Icon">
        </div>
        <div class="headerRowDivs" id="linksDiv">
            <div>
                <a href="/home" class="linksDivs" id="homeLink">Home</a>
            </div>
            <div>
                <a href="/transfer" class="linksDivs" id="transferLink">Transfer</a>
            </div>
            <div>
                <a href="/profile" class="linksDivs" id="profileLink">Profile</a>
            </div>
            <div>
                <a href="/contact" class="linksDivs" id="contactLink">Contact</a>
            </div>
            <div>
                <a href="/logout" class="linksDivs" id="logoutLink">Logout</a>
            </div>
        </div>
    </div>
    <div class="mainDivRows" id="secondRowDiv">
        <div class="secondRowItems">
            <h5>Home</h5>
        </div>
        <div class="secondRowItems">
            <h5>/</h5>
        </div>
        <div class="secondRowItems">
            <h5>Profile</h5>
        </div>
    </div>
    <div class="mainDivRows" id="mainRowDiv">
        <div>
            <div>
                <h4>Your Current Balance:</h4>
            </div>
            <div>
                <h4 th:text="${#numbers.formatDecimal(user.account.currentBalance, 1, 2)}">100£</h4>
            </div>
        </div>
        <div>
            <div>
                <a href="/addMoney" class="linksDivs" id="topUpLink">Add Funds</a>
            </div>
            <div>
                <a href="/withdrawal" class="linksDivs" id="withdrawalLink">Withdraw Funds</a>
            </div>
        </div>
        <div>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Your Buddies</th>
                        </tr>
                    </thead>
                    <tbody th:remove="all-but-first">
                        <tr th:each="connectionEmail : ${connectionsEmails}">
                            <td th:text="${connectionEmail}">queti@queti.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <a href="/addConnection" class="linksDivs" id="addConnectionLink">Add A Buddy</a>
            </div>
        </div>
        <div>
            <div>
                <table>
                    <thead>
                        <tr>
                            <th>Your IBANs</th>
                        </tr>
                    </thead>
                    <tbody th:remove="all-but-first">
                        <tr th:each="iban : ${ibans}">
                            <td th:text="${iban.ibanString}">queti@queti.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <a href="/addIban" class="linksDivs" id="addIbanLink">Add an Iban</a>
            </div>
        </div>

        <div>
            <div>
                <h4>Your Account's Email:</h4>
            </div>
            <div>
                <h4 th:text="${user.email}">queti@queti.co.uk</h4>
            </div>
        </div>
    </div>
</div>
</body>
</html>