<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
    <title>Create Account</title>
</head>
<body>
<div id="mainDiv">
    <div class="mainDivRows" id="formRowDiv">
        <form name="form" th:action="@{/register}" th:object="${user}" method="post">
            <fieldset>
                <div class="headerRowDivs" id="iconDiv">
                    <a href="/">
                        <img id="icon" src="../static/img/PayMyBuddyIcon.jpg" th:src="@{/img/PayMyBuddyIcon.jpg}"
                             title="Pay My Buddy Icon" alt="Pay My Buddy Icon">
                    </a>
                </div>
                <span th:if="${param.error}"></span>
                <div th:if="${param.logout}">
                    <div class="alert alert-info">
                        You have been logged out
                    </div>
                </div>
                <div>
                    <input class="formElement" type="text" id="username" name="email" th:field="*{email}"
                           placeholder="Email"/>
                </div>
                <div>
                    <input class="formElement" type="password" id="password" name="password" th:field="*{password}"
                           placeholder="Password"/>
                </div>
                <div class="form-actions">
                    <button class="formElement" type="submit">Register</button>
                </div>
            </fieldset>
        </form>
    </div>
    <div>
        <p>Already have an Account? Login <a href="/login">here...</a></p>
    </div>
    <div>
        <p>Or go <a href="/">back to the main page</a></p>
    </div>
</div>
</body>
</html>