<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../static/css/transferPage.css">
    <title>Transfer</title>
</head>
<body>
<div id="mainDiv">
    <div class="mainRowsDivs" id="mainRow1">
        <div class="firstRowHalves" id="firstRowHalf1">
            <h4 class="firstRowItems" id="firstRowItem1" id="companysName">Pay My Buddy</h4>
        </div>
        <div class="firstRowHalves" id="firstRowHalf2">
            <div><h4 class="firstRowItems" id="firstRowItem2">Home</h4></div>
            <div><h4 class="firstRowItems" id="firstRowItem3">Transfer</h4></div>
            <div><h4 class="firstRowItems" id="firstRowItem4">Profile</h4></div>
            <div><h4 class="firstRowItems" id="firstRowItem5">Contact</h4></div>
            <div><h4 class="firstRowItems" id="firstRowItem6">Log off</h4></div>
        </div>
    </div>
    <div class="mainRowsDivs" id="mainRow2">
        <div><h5>Home</h5></div>
        <div><h5>/</h5></div>
        <div><h5>Transfer</h5></div>
    </div>
    <div class="mainRowsDivs" id="mainRow3">
        <div class="subRowsDivs" id="subRow1">
            <div><h4>Send Money</h4></div>
            <div><button name="connectionButton" type="submit" value="Add Connection">Add Connection</button></div>
        </div>
        <div class="subRowsDivs" id="subRow2">
            <button name="payButton" type="submit" value="Pay">Pay</button>
        </div>
        <div class="subRowsDivs" id="subRow3">
            <h4>My Transactions</h4>
        </div>
        <div class="subRowsDivs" id="subRow4">
            <table style="width:100%">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Connection</th>
                        <th>Description</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sent</td>
                        <td>a@a.co.uk</td>
                        <td>...</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>Received</td>
                        <td>b@b.co.uk</td>
                        <td>...</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>Received</td>
                        <td>c@c.co.uk</td>
                        <td>...</td>
                        <td>10</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="subRowsDivs" id="subRow5">PAGINATION GOES HERE</div>
        <div class="subRowsDivs" id="subRow6"> EMPTY SPACE GOES HERE</div>
    </div>
</div>
</body>
</html>