<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
    <title>Transfer</title>
</head>
<body>
<div id="mainDiv">
    <div class="mainDivRows" id="headerRowDiv">
        <div class="headerRowDivs" id="iconDiv">
            <img id="icon" src="../static/img/PayMyBuddyIcon.jpg" th:src="@{/img/PayMyBuddyIcon.jpg}" title="Pay My Buddy Icon" alt="Pay My Buddy Icon">
        </div>
        <div class="headerRowDivs" id="linksDiv">
            <div><h4 class="linksDivs" id="homeLink">Home</h4></div>
            <div><h4 class="linksDivs" id="transferLink">Transfer</h4></div>
            <div><h4 class="linksDivs" id="profileLink">Profile</h4></div>
            <div><h4 class="linksDivs" id="contactLink">Contact</h4></div>
            <div><h4 class="linksDivs" id="logoffLink">Log off</h4></div>
        </div>
    </div>
    <div class="mainDivRows" id="secondRowDiv">
        <div class="secondRowItems"><h5>Home</h5></div>
        <div class="secondRowItems"><h5>/</h5></div>
        <div class="secondRowItems"><h5>Profile</h5></div>
    </div>
    <div class="mainDivRows" id="mainRowDiv">
        <div class="subRowsDivs" id="subRow1">
            <div><h4>Send Money</h4></div>
            <div><button name="connectionButton" type="submit" value="Add Connection">Add Connection</button></div>
        </div>
        <div class="subRowsDivs" id="subRow2">
            <button name="payButton" type="submit" value="Pay">Pay</button>
        </div>
        <div class="subRowsDivs" id="subRow3">
            <h4>My Transactions</h4>
        </div>
        <div class="subRowsDivs" id="subRow4">
            <table style="width:100%">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Connection</th>
                        <th>Description</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Sent</td>
                        <td>a@a.co.uk</td>
                        <td>...</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>Received</td>
                        <td>b@b.co.uk</td>
                        <td>...</td>
                        <td>10</td>
                    </tr>
                    <tr>
                        <td>Received</td>
                        <td>c@c.co.uk</td>
                        <td>...</td>
                        <td>10</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="subRowsDivs" id="subRow5">PAGINATION GOES HERE</div>
        <div class="subRowsDivs" id="subRow6"> EMPTY SPACE GOES HERE</div>
    </div>
</div>
</body>
</html>