<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}" href="../static/css/style.css">
    <title>Transfer</title>
</head>
<body>
<div id="mainDiv">
    <div class="mainDivRows" id="headerRowDiv">
        <div class="headerRowDivs" id="iconDiv">
            <img id="icon" src="../static/img/PayMyBuddyIcon.jpg" th:src="@{/img/PayMyBuddyIcon.jpg}"
                 title="Pay My Buddy Icon" alt="Pay My Buddy Icon">
        </div>
        <div class="headerRowDivs" id="linksDiv">
            <div  class="links">
                <a href="/home" class="linksDivs">Home</a>
            </div>
            <div>
                <a href="/transfer" class="linksDivs">Transfer</a>
            </div>
            <div>
                <a href="/profile" class="linksDivs">Profile</a>
            </div>
            <div>
                <a href="/contact" class="linksDivs">Contact</a>
            </div>
            <div>
                <a href="/home" class="linksDivs">Log off</a>
            </div>
        </div>
    </div>
    <div class="mainDivRows" id="secondRowDiv">
        <div class="secondRowItems">
            <h5>Home</h5>
        </div>
        <div class="secondRowItems">
            <h5>/</h5>
        </div>
        <div class="secondRowItems">
            <h5>Transfer</h5>
        </div>
    </div>
    <div class="mainDivRows" id="mainRowDiv">
        <div class="subRowsDivs" id="subRow1">
            <div>
                <h4>Send Money</h4>
            </div>
            <div>
                <button name="connectionButton" type="submit" value="Add Connection">Add Connection</button>
            </div>
        </div>
        <div class="subRowsDivs" id="subRow2">
            <div>
                <select th:field="*{user.getAccount().getConnectionListElements()}">
                    <option value="">Select your Buddy</option>
                    <option th:each="connectionListElement : ${user.getAccount().getConnectionListElements()}"
                            th:value="${connectionListElement.getConnection().getUser().getEmail()}"
                            th:text="${connectionListElement.getConnection().getUser().getEmail()}">
                    </option>
                </select>
            </div>
            <div>
                <input type="text" id="moneyInput" name="moneyInput" placeholder="Send how much?"/>
            </div>
            <div>
                <button name="payButton" type="submit" value="Pay">Pay</button>
            </div>
        </div>
        <div class="subRowsDivs" id="subRow3">
            <h4>My Transactions</h4>
        </div>
        <div class="subRowsDivs" id="subRow4">
            <table style="width:100%">
                <thead>
                    <tr>
                        <th>Type</th>
                        <th>Connection</th>
                        <th>Description</th>
                        <th>Amount</th>
                    </tr>
                </thead>
                <tbody th:remove="all">
                    <tr th:each="transaction : ${user.getAccount().getTransactions()}">
                        <td th:text="${transaction.getConnection().getTransactionType().getTransactionType()}">Sent</td>
                        <td th:text="${transaction.getConnection().getUser().getEmail()}">a@a.co.uk</td>
                        <td>...</td>
                        <td th:text="${#numbers.formatDecimal(transaction.getMoneyAmount(), 1,2) + '£'}">10£</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="subRowsDivs" id="subRow5">PAGINATION GOES HERE</div>
        <div class="subRowsDivs" id="subRow6"> EMPTY SPACE GOES HERE</div>
    </div>
</div>
</body>
</html>