<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link type="text/css" rel="stylesheet" href="../static/css/withdraw.css">
    <title>Withdraw Money</title>
</head>
<body>
<div id="mainDiv">
    <div class="mainRowsDivs" id="mainRow1">
        <div class="firstRowHalves" id="firstRowHalf1">
            <h4 class="firstRowItems" id="firstRowItem1" id="companysName">Pay My Buddy</h4>
        </div>
        <div class="firstRowHalves" id="firstRowHalf2">
            <div><h4 class="firstRowItems" id="firstRowItem2">Home</h4></div>
            <div><h4 class="firstRowItems" id="firstRowItem3">Transfer</h4></div>
            <div><h4 class="firstRowItems" id="firstRowItem4">Profile</h4></div>
            <div><h4 class="firstRowItems" id="firstRowItem5">Contact</h4></div>
            <div><h4 class="firstRowItems" id="firstRowItem6">Log off</h4></div>
        </div>
    </div>
    <div class="mainRowsDivs" id="mainRow2">
        <div><h5>Home</h5></div>
        <div><h5>/</h5></div>
        <div><h5>Profile</h5></div>
    </div>
    <div class="mainRowsDivs" id="mainRow3">
        <div>
            <div><h3>Withdraw Money</h3></div>
        </div>
        <div>
            <div><h4>MONEY GOES HERE</h4></div>
            <div><h4>IBAN GOES HERE</h4></div>
            <div><h4>BUTTON GOES HERE</h4></div>
        </div>

    </div>
</div>
</body>
</html>